<link  rel="stylesheet" href="{{url_for('static',filename='aboutpage.css')}}" type="text/css">
{% extends "layout.html" %}

{% set active_page = "about" %}

{% block title %}About the Data{% endblock %}

{% block heading %}About the Food Data{% endblock %}

{% block body %}
    <p>The data used in this web app is from the CORGIS Dataset Project and can be found 
      <a href="https://think.cs.vt.edu/corgis/json/food/">here</a>. The following data comes from the United States Department of Agriculture’s Food Composition Database. It contains data for various types of food including the amounts of different vitamins and minerals found in the foods as well as macronutrient percentages.</p>
    <p>One of the datas recorded include household weights. In the data, it is in sets. So the first household weight is an estimate of the household measure of the food item. Weights are given for edible material without refuse, meaning the weight of an apple without its core or chicken leg without the bone. This can be used to calculate the nutrient value of the food. Then, household weight-> description is a string representing the units of measurements in the first household weight.</p>
	<p>Other datas that are included are vitamins. This will tell you what vitamins are in what food you have chosen and will also give you the amount of how much vitamin it is. It is important to know what kind of vitamins you are getting from your foods as well as how much. Vitamin A is one that comes up quite frequently because it is a is a fat-soluble vitamin that is naturally present in many foods. (<a href="https://ods.od.nih.gov/factsheets/VitaminA-Consumer/#:~:text=Vitamin%20A%20is%20a%20fat,and%20other%20organs%20work%20properly.">Source</a>)</p>
{% endblock %}

