{% extends "layout.html" %}

{% set active_page = "about" %}

{% block title %}About the Data{% endblock %}

{% block heading %}About the Food Data{% endblock %}

{% block body %}
    <p>The data used in this web app is from the CORGIS Dataset Project and can be found 
      <a href="https://think.cs.vt.edu/corgis/json/food/">here</a>. The following data comes from the United States Department of Agriculture’s Food Composition Database. It contains data for various types of food including the amounts of different vitamins and minerals found in the foods as well as macronutrient percentages.</p>
    <p>~filler text~(<a href="https://www.broadwayworld.com/board/readmessage.php?thread=1089643">Source</a>)</p>
	<p>~more filler text~</p>
{% endblock %}

